{% extends "seats/report_generic.html" %}

{% block title %}{{ data.exam.name }}{% endblock %}

{% block body %}
<body class="roomseat">
{% for page in pages %}
  <div class="page">
    <h1>{{ data.report_title }} {{ page.first.idnumber }}-{{ page.last.idnumber }}</h1>
    <table><tr><td valign="top">
    <table class="column1">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>座位</th>
      </tr>
      {% for row in page.column1 %}
      <tr>
        <td>{{ row.idnumber }}</td>
        <td class="name">{{ row.name }}</td>
        <td>{{ row.classnum }}</td>
        <td class="seatnum">{{ row.room.nick }}-{{row.seat }}</td> 
      </tr>
      {% endfor %}
    </table>
    </td>
    <td width="10"></td>
    <td valign="top">
    {% if page.column2 %}
    <table class="column2">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>座位</th>
      </tr>
      {% for row in page.column2 %}
      <tr>
        <td>{{ row.idnumber }}</td>
        <td class="name">{{ row.name }}</td>
        <td>{{ row.classnum }}</td>
        <td class="seatnum">{{ row.room.nick }}-{{row.seat }}</td> 
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    </td></tr></table>
  </div>
  <div class="page-break"></div>
{% endfor %}
</body>
{% endblock %}
